div.msg {
  position: relative;
  background-color: #dce6cd;
  line-height: 1.5rem;
  text-align: center;
  margin: 1rem;
  color: #2c4126;
  align-content: center;
  justify-content: center;
  width: 17rem;
  border-radius: 0.43rem;
  font-size: 1.0rem;
  font-weight: 700;
  height: 100%;
  line-height: height;
  opacity: 88%;
}

div.number {
  position: relative;
  background-color: #dce6cd;
  text-align: center;
  border-radius: 0.43rem;
  /* padding: 1rem 1.7rem; */
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: #2c4126;
  width: 6.3rem;
  font-size: 1.2rem;
  font-weight: 700;
  height: 100%;
  opacity: 88%;
}
.link {
  position: relative;
  /* text-decoration: none; */
  background-color: #dce6cd;
  padding: 1rem 1.7rem;
  color: #2c4126;
  text-align: center;
  align-content: center;
  justify-content: center;
  width: 18rem;
  border-radius: 0.43rem;
  font-size: 1.1rem;
  font-weight: 700;
  margin-right: 2rem;
  height: 100%;
  opacity: 88%;
}
.link:hover {
  text-decoration: underline;
}
h1.db2ttl {
  font-size: 1.7rem;
}
p.numberP {
  position: relative;
}
div.dbBlock {
  position: relative;
  background-color: #516d4e;
  padding: 0;
  height: 1.9rem;
}
img.picImg {
  width: 18vw;
  height: 10vw;
  object-fit: cover;
}

div.db2picAlt {
  width: 18vw;
  height: 10vw;
  background-color: rgba(185, 185, 185, 0.468);
}

div.db2pics {
  opacity: 88%;
  display: grid;
  width: 75%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #dce6cd;
  gap: 3rem;
  padding: 2rem 8rem;
  justify-content: center;
  border-radius: 0.43rem;
  grid-template-columns: repeat(3, 1fr);
}

div.dbImgs {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

div.numOfPlantsBox {
  position: relative;
  display: flex;
  align-items: center;
  height: 6.3rem;
  padding: 0 7rem;
  justify-content: space-between;
}

div.numOfPlantsBoxInner {
  display: flex;
  gap: 60px;
  align-items: center;
  height: 100%;
}

div.db2Container {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}
