:root {
  --title-size: 2.0rem;
  --link-size: 1.3rem;
  --links-height: 46px;
  --nav-width: 49vw;
  --right-padding: 17vw;
}
header.topBar {
  display: flex;
  width: 100vw;
  align-items: center;
}
h1.htitle {
  position: relative;
  text-align: left;
  left: 4vw;
  padding-right: var(--right-padding);
  color: white;
  border-right: 6px solid white;
  font-size: var(--title-size);
  font-weight: 600;
}
div.links {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: var(--nav-width);
  right: 1vw;
  font-weight: 600;
  height: var(--links-height);
  padding: 0.25rem;
  gap: 1vw;
  overflow: visible;
  overflow-y: visible;
  justify-content: center;
  align-items: center;
  background-color: #e2e8d1;
  border: 2px solid transparent;
}
.linkBarLink {
  position: relative;
  color: #7a9a6d;
  font-size: var(--link-size);
  text-align: center;
  display: inline-block;
  border: 1px solid transparent;
  padding: 0.5rem 0.6rem 0.5rem 0.6rem;
  margin: 0;

  text-decoration: none;
}
.widen {
  width: 9.5vw;
}
.linkBarLink:hover {
  position: relative;
  color: #639c4c;
  background-color: #7a9a6d77;
  text-decoration: none;
}
.hline {
  height: 0.25rem;
  position: relative;
  background-color: white;
}
div.nav {
  display: flex;
  position: relative;
  flex-direction: column;
}

@media screen and (max-width: 1500px) {
  :root {
    --title-size: 2rem;
    --link-size: 1.2rem;
    --links-height: 40px;
    --nav-width: 47vw;
    --right-padding: 20vw;
  }
}

@media screen and (min-width: 1600px) {
  :root {
    --right-padding: 25vw;
    --nav-width: 42vw;
  }
}

@media screen and (max-width: 1400px) {
  :root {
    --right-padding: 17vw;
    --nav-width: 51vw;
  }
}


.dropdown {
  position: relative;
  display: inline-block;
  z-index: 9999;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 9999;
}

.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  z-index: 9999;
}

.dropdown-content a:hover {
  background-color: #ddd;
  z-index: 9999;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 9999;
}

.topbar{
  z-index: 2000;
  overflow: visible;
}
.links {
  position: relative; /* 或 fixed/sticky 也可以 */
  z-index: 3000;
  background-color: white; /* 避免透明被背景图影响 */
  overflow: visible;
  border-radius: 0.43rem;
}

